In [10]:
import pandas as pd
import numpy as np
import FinanceDataReader as fdr

import warnings
warnings.filterwarnings("ignore")

In [3]:
stocklist = pd.read_csv('./datasets/stocklist.csv')
stocklist.drop('Unnamed: 0', axis=1, inplace=True)

In [5]:
monthdate = pd.read_csv('./datasets/monthdate.csv')
monthdate.drop('Unnamed: 0', axis=1, inplace=True)

In [15]:
# 거래소코드 6자리로 만들어주기
aa = stocklist['Symbol'].unique()
bb = []
for i in range(len(aa)):
    bb.append(format(aa[i], '06'))

In [17]:
frames = []
for i in range(len(monthdate['Date'])):
    hh = fdr.DataReader(bb[1],monthdate['Date'].values[i],monthdate['Date'].values[i])
    # hh = pd.DataFrame(hh)
    hh['거래소코드'] = bb[1]
    frames.append(hh)
result1 = pd.concat(frames)
result1

             Open   High    Low  Close   Volume    Change   거래소코드
Date
2010-04-30   8390   8570   8320   8420   204180  0.014458  000990
2010-05-31   9890  11100   9630  10600  1459872  0.092784  000990
2010-06-30  11250  11650  10850  11600   934113 -0.004292  000990
2010-07-30   8940   9180   8900   9010   470442  0.015784  000990
2010-08-31   9050   9050   8850   8920   148954 -0.013274  000990
...           ...    ...    ...    ...      ...       ...     ...
2020-12-30  48500  52300  48250  51000  3863565  0.037640  000990
2021-01-29  68100  68200  59900  61500  3539007 -0.080717  000990
2021-02-26  56400  57200  55500  56400   996062 -0.030928  000990
2021-03-31  57000  57100  56000  56300   603985 -0.014011  000990
2021-04-30  57400  57800  54100  55300   864831 -0.033217  000990

[132 rows x 7 columns]

In [18]:
bb[1]

'000990'