In [1]:
import pandas as pd

In [12]:
df = pd.read_csv('../csv\stat_108001.xlsx - Sheet0 (1).csv')

In [13]:
df

,201701월,201702월,201703월,201704월,201705월,201706월,201707월,201708월,201709월,201710월,...,202107월,202108월,202109월,202110월,202111월,202112월,202201월,202202월,202203월,202204월
0,"2,067.57","2,091.64","2,160.23","2,205.44","2,347.38","2,391.79","2,402.71","2,363.19","2,394.47","2,523.43",...,"3,202.32","3,199.27","3,068.82","2,970.68","2,839.01","2,977.65","2,663.34","2,699.18","2,757.65","2,695.05"

In [14]:
df = df.transpose()

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64 entries, 201701월 to 202204월
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       64 non-null     object
dtypes: object(1)
memory usage: 3.1+ KB

In [18]:
df.columns = ['종가']

In [22]:
df['종가'] = df['종가'].str.replace(',', '')

In [23]:
df['종가'].astype(float)

201701월    2067.57
201702월    2091.64
201703월    2160.23
201704월    2205.44
201705월    2347.38
            ...
202112월    2977.65
202201월    2663.34
202202월    2699.18
202203월    2757.65
202204월    2695.05
Name: 종가, Length: 64, dtype: float64

In [28]:
df.reset_index(inplace=True)

In [30]:
df['index'] = df['index'].str.replace('월','')

In [34]:
df['index'] = df['index'] + '01'

In [35]:
df['index'] = pd.to_datetime(df['index'])

In [39]:
df['종가'] = df['종가'].astype(float)

In [41]:
df['종가변화율'] = df['종가'].pct_change()

In [48]:
df = df.fillna(0.02)

In [54]:
df.isnull().sum()

index    0
종가       0
종가변화율    0
dtype: int64

In [57]:
ar = df['종가변화율']

In [59]:
mul = 1
for item in ar :
    mul = mul*item
GM = mul ** (1/len(ar))

In [60]:
GM

(0.02538933592846638+0.0012472980919043051j)