In [4]:
import pandas as pd
import numpy as np

In [5]:
def durations_explicit(c, y, m, n):
    """Parameters:
        c = coupon rate per period
        y = yield per period
        m = periods per year
        n = periods remaining"""
    if c==y: # Shorter explicit formula if coupon rate per period = yield per period
        macaulay_duration = ((1+y)/(m*y))*(1 - (1 / (1+y)**n))
        modified_duration = macaulay_duration / (1 + y)
        print(f"Macaulay Duration: {macaulay_duration}")
        print(f"Modified Duration: {modified_duration}")
        return macaulay_duration, modified_duration
    else:
        macaulay_duration = ((1+y) / (m*y)) - ( (1 + y + n*(c-y)) / ((m*c* ((1+y)**n - 1)) + m*y) )
        modified_duration = macaulay_duration / (1 + y)
        print(f"Macaulay Duration: {macaulay_duration}")
        print(f"Modified Duration: {modified_duration}")
        return macaulay_duration, modified_duration

In [6]:
tbill = pd.read_csv('../csv\DGS1.csv')
tbill

            DATE  DGS1
0     2017-01-03  0.89
1     2017-01-04  0.87
2     2017-01-05  0.83
3     2017-01-06  0.85
4     2017-01-09  0.82
...          ...   ...
1399  2022-05-16  2.07
1400  2022-05-17  2.16
1401  2022-05-18  2.16
1402  2022-05-19  2.11
1403  2022-05-20  2.07

[1404 rows x 2 columns]

In [7]:
tbill_1 = tbill[tbill['DGS1'] == '.']
tbill_1.shape

(56, 2)

In [8]:
a = tbill_1['DATE'].tolist()

In [9]:
sbill = tbill[~tbill['DATE'].isin(a)]

In [10]:
sbill['DGS1'] = sbill['DGS1'].astype(float)

C:\Users\jhp07\AppData\Local\Temp\ipykernel_13064\1251331456.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sbill['DGS1'] = sbill['DGS1'].astype(float)

In [11]:
tbill['DGS1'] = tbill['DGS1'].str.replace('.','')

C:\Users\jhp07\AppData\Local\Temp\ipykernel_13064\2489104353.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tbill['DGS1'] = tbill['DGS1'].str.replace('.','')

In [12]:
sbill.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1348 entries, 0 to 1403
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    1348 non-null   object
 1   DGS1    1348 non-null   float64
dtypes: float64(1), object(1)
memory usage: 31.6+ KB

In [13]:
sbill['DATE'] = pd.to_datetime(sbill['DATE'])

C:\Users\jhp07\AppData\Local\Temp\ipykernel_13064\3032174029.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sbill['DATE'] = pd.to_datetime(sbill['DATE'])

In [14]:
sbill.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1348 entries, 0 to 1403
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    1348 non-null   datetime64[ns]
 1   DGS1    1348 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 31.6 KB

In [15]:
sbill.set_index('DATE', inplace=True)

In [16]:
sbill

            DGS1
DATE
2017-01-03  0.89
2017-01-04  0.87
2017-01-05  0.83
2017-01-06  0.85
2017-01-09  0.82
...          ...
2022-05-16  2.07
2022-05-17  2.16
2022-05-18  2.16
2022-05-19  2.11
2022-05-20  2.07

[1348 rows x 1 columns]

In [17]:
def durations_explicit_1(y, m, n):
    """Parameters:
        c = coupon rate per period
        y = yield per period
        m = periods per year
        n = periods remaining"""

    macaulay_duration = ((1+y)/(m*y))*(1 - (1 / (1+y)**n))
    modified_duration = macaulay_duration / (1 + y)

    return macaulay_duration

def durations_explicit_2(y, m, n):
    """Parameters:
        c = coupon rate per period
        y = yield per period
        m = periods per year
        n = periods remaining"""

    macaulay_duration = ((1+y)/(m*y))*(1 - (1 / (1+y)**n))
    modified_duration = macaulay_duration / (1 + y)

    return modified_duration

In [19]:
sbill['1M'] = sbill.apply(lambda x : durations_explicit_1(x['DGS1'], 1, 1), axis=1)
sbill['2M'] = sbill.apply(lambda x : durations_explicit_2(x['DGS1'], 1, 1), axis=1)
sbill

C:\Users\jhp07\AppData\Local\Temp\ipykernel_13064\3929843684.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sbill['1M'] = sbill.apply(lambda x : durations_explicit_1(x['DGS1'], 1, 1), axis=1)
C:\Users\jhp07\AppData\Local\Temp\ipykernel_13064\3929843684.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sbill['2M'] = sbill.apply(lambda x : durations_explicit_2(x['DGS1'], 1, 1), axis=1)

            DGS1   1M        2M
DATE
2017-01-03  0.89  1.0  0.529101
2017-01-04  0.87  1.0  0.534759
2017-01-05  0.83  1.0  0.546448
2017-01-06  0.85  1.0  0.540541
2017-01-09  0.82  1.0  0.549451
...          ...  ...       ...
2022-05-16  2.07  1.0  0.325733
2022-05-17  2.16  1.0  0.316456
2022-05-18  2.16  1.0  0.316456
2022-05-19  2.11  1.0  0.321543
2022-05-20  2.07  1.0  0.325733

[1348 rows x 3 columns]

In [20]:
sbill['1M'].mean()

1.0000000000000002

In [38]:
sbill['2M'].mean()

0.552490081361952